<div class="col-lg-12">
  <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Create New Account</h2>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <br>
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="panel-footer">
          <p>Sign up for doctors, to be restricted to admin account only</p>
       </div>
    </div>
  </div>
</div>
  <div class="jumbotron">
    <h2>Patient Assessment</h2>
    <p>APAT, or Anaesthetic Preoperative Assessment is a quick and easy online assessment tool that allows us to get to know a little bit about our patients before they come in for surgery in Irish hospitals.
    If you have been asked to complete an assessment by a surgeon, simply click the button below and answer our questions.</p>
    <p>
      <%= button_to "Start Your Assessment »", new_patient_path, class: "btn btn-primary btn-lg", method: :get %>
    </p>
  </div>

  <div class="jumbotron">
    <h2>Doctors</h2>
    <p>Anaesthetists and Surgeons who have registered to use APAT can sign in to view assessments.</p>
     <%= button_to "Doctors Sign In »", new_user_session_path, class: "btn btn-info btn-lg", method: :get %>
    </p>
  </div>
