<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"First Name" %><br>
    <%= form.text_field :firstName, class: "form-control", id: :patient_firstName %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Surname" %><br>
    <%= form.text_field :surName, class: "form-control", id: :patient_surName %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Date of Birth" %>&nbsp &nbsp 
    <%= form.date_select :dob, :start_year=>1900,:end_year=>2030, id: :patient_dob %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Gender" %>&nbsp &nbsp 
    <%= form.select :gender, ["","male", "female"], id: :patient_gender %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Which hospital are you having the opperation in?" %>&nbsp &nbsp 
    <%= form.select :hospital, ["","Limerick Regional", "St. Johns"], id: :patient_hospital %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"What date are you having the opperation on? (If you don't know your opperation date, please select todays date." %>&nbsp &nbsp 
    <%= form.date_select :opDate, :start_year=>2017,:end_year=>2027, id: :patient_opDate %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"How would you rate your overall health" %><br>
    <%= form.select :q1, ["","Very good", "No abnormalities", "Not good", "I am diagnosed with dementia", "Very sick", "Bedbound at all times"], id: :patient_q1 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"How is your physical condition in general?" %><br>
    <%= form.select :q2, ["","I can do everything I want", "Slightly impaired, but I feel no impairments in daily activities", "Impaired, I can only take care of domestic chores", "I am completely dependent on help from others"],  id: :patient_q2 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have a heart condition that impedes your physical efforts (as a result of tiredness, pain or shortness of breath)?" %><br>
    <%= form.select :q3, ["","No", "Yes, only during heavy labour", "Yes, during climbing the stairs, in the wind, stress", "Yes, daily, not at rest", "Yes, at rest and increased during any activity"], id: :patient_q3 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever experienced any feeling of pain or tightness in the chest?" %><br>
    <%= form.select :q4, ["","No", "Yes, only during heavy labour", "Yes, during climbing the stairs, in the wind, stress", "Yes, daily, not at rest", "Yes, at rest and increased during any activity"], id: :patient_q4 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever had a heart attack or a mini heart attack?" %><br>
    <%= form.select :q5, ["","No", "Yes, longer than 12 months ago", "Yes, longer than 6 months ago", "Yes, longer than 3 months ago", "Yes, in the last 3 months"], id: :patient_q5 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever had a cardiac arrest? This is where your heart stops beating and you needed CPR" %><br>
    <%= form.select :q6, ["","No", "Yes, longer than 12 months ago", "Yes, longer than 6 months ago", "Yes, longer than 3 months ago", "Yes, in the last 3 months"], id: :patient_q6 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever undergone any cardiac surgery or had an angiogram test done?" %><br>
    <%= form.select :q7, ["","No", "Yes, longer than 6 months ago", "Yes, longer than 3 months ago", "Yes, longer than 3 weeks ago", "Yes, in the last 3 weeks"], id: :patient_q7 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you ever get palpitations or a concerning fluttering sensation in your chest?" %><br>
    <%= form.select :q8, ["","No", "Yes, and I do not take treatment for it", "Yes, and I take treatment for it"], id: :patient_q8 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you been told you have a heart murmur? (an abnormal sound heard with a stethoscope?" %><br>
    <%= form.select :q9, ["","No", "Yes", "Yes, and I've had a procedure to fix it"], id: :patient_q9 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have high blood pressure?" %><br>
    <%= form.select :q10, ["","No", "I don't know", "Yes/it's controlled on tablets",], id: :patient_q10 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have high cholesterol?" %><br>
    <%= form.select :q11, ["","No", "Yes/it's controlled on tablets"], id: :patient_q11 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you receive treatment for diabetes (high blood sugar level)?" %><br>
    <%= form.select :q12, ["","No", "Yes, treatment with diet", "Yes, treatment with oral medication", "Yes, treatment with insulin"], id: :patient_q12 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever had a stroke?" %><br>
    <%= form.select :q13, ["","No", "Yes, but I've completely recovered", "Yes, and I have not fully recovered", "Yes, in the last two months"], id: :patient_q13 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you receive treatment for asthma?" %><br>
    <%= form.select :q14, ["","No", "Yes, but I rarely need my inhailer", "Yes, I need my inhaler about once a week", "Yes, I need my inhaler every day", "Yes, I need my inhaler every day and it's been getting worse over the past 6 months"], id: :patient_q14 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have difficulty with your breathing from smoking cigarettes, or do you have a diagnosis of COPD/bronchitis/emphysaema" %><br>
    <%= form.select :q15, ["","No", "Yes, it affects me during heavy exercise", "Yes, it affects me when climbing the stairs, in the wind, during stress", "Yes, I'm breathless at rest or I need oxygen therapy at home"], id: :patient_q15 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have a diagnosis of Sleep Apnoea?" %><br>
    <%= form.select :q16, ["","No", "Yes"], id: :patient_q16 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you have any renal problems or kidney impairment?" %><br>
    <%= form.select :q17, ["","No", "Yes, I had a problem before but it has completely resolved (acute injury)", "Yes, my doctor has told me I must limit how much fluid I drink each day", "Yes, I am getting dialysis", "Yes, I have had a kidney transplant"], id: :patient_q17 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever had jaundice or any liver problems?" %><br>
    <%= form.select :q18, ["","No", "Yes, but with complete recovery", "Yes, liver cirrhosis has been diagnosed", "Yes, I've had a procedure done on my liver"], id: :patient_q18 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Have you ever unintentionally lost more than 10 kg in a short period of time? If you were trying to lose weight through diet and exercise, please pick no." %><br>
    <%= form.select :q19, ["","No", "Yes", "Yes, more than 25% of previous bodyweight"], id: :patient_q19 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you smoke?" %><br>
    <%= form.select :q20, ["","No", "I've quit in the last five years", "Yes"], id: :patient_q20 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you consume alcohol?" %><br>
    <%= form.select :q21, ["","No", "Yes, one drink per day", "Yes, 2-3 drinks per day", "Yes, more than 3 drinks per day"], id: :patient_q21 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.label :"Do you ever take illicit drugs (Cocaine, Heroin, Ecstasy)?" %><br>
    <%= form.select :q22, ["","No", "No, not anymore", "Yes, every once in a while", "Yes, more the once a week"], id: :patient_q22 %>
  </div>
  <hr>

  <div class="form-group">
    <%= form.submit "Submit for Assessment", class: "btn btn-primary" %>
  </div>
<% end %>
