
<% if user_signed_in? %>
<div class = "panel panel-default">
  <div class ="panel-heading">
  <h1>Patient Assessments</h1>
</div>
<div class ="panel-body">
<br><hr>
<%= form_tag patients_path, :method => 'get' do %>
<%= text_field_tag :searchFirst, params[:searchFirst], placeholder: 'First Name' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :searchSur, params[:searchSur], placeholder: 'Surname' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :dob, params[:dob], placeholder: 'Date Of Brith' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :searchHos, params[:searchHos], placeholder: 'Hospital' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :SearchOpDate, params[:SearchOpDate], placeholder: 'Date of Surgery' %>&emsp;&emsp;&emsp;&emsp;

<%= submit_tag "Search", class: "btn-sm btn-group btn-primary "%>
<% end %>

<hr>
<p><i>Tip: Use the search bar above to filter patient records, or click on a table header to sort the patient records</i></p>
<div class="table-responsive">
<table class="table sortable">
  <thead>
    <tr>
      <th role="button">First Name</th>
      <th role="button">Surname</th>
      <th role="button">Date of Birth</th>
      <th role="button">Hospital</th>
      <th role="button">Date</th>
      <th role="button">ASA</th>
      <th colspan="3" role="button"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstName %></td>
        <td><%= patient.surName %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.hospital %></td>
        <td><%= patient.opDate %></td>
        <td><strong><%= patient.asa %></strong></td>
        <td>
        <%= link_to 'Details', patient, class: "btn-sm btn-group btn-primary " %>
        <%= link_to 'Edit', edit_patient_path(patient), class: "btn-sm btn-group btn-success " %>
        <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-group btn-danger " %>
      </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Patient', new_patient_path, class: "btn  btn-primary " %>
</div>
</div>


<% else %>
  <div class="col-lg-6">
  <div class="jumbotron">
    <h1>Patients</h2>
    <hr>
    <p>APAT, or Anaesthetic Preoperative Assessment is a quick and easy online assessment tool that allows us to get to know a little bit about our patients before they come in for surgery in Irish hospitals.
    If you have been asked to complete an assessment by a surgeon, simply click the button below and answer our questions.</p>
    <p>
      <%= button_to "Start Your Assessment »", new_patient_path, class: "btn btn-primary btn-lg", method: :get %>
    </p>
  </div>
</div>
    <div class="col-lg-6">

  <div class="jumbotron">
    <h1>Doctors</h2>
    <hr>
    <p>Anaesthetists and Surgeons who have registered to use APAT can sign in to view assessments.</p>
     <%= button_to "Doctors Sign In »", new_user_session_path, class: "btn btn-info btn-lg", method: :get %>
    </p>
  </div>
</div>
<%end%>
