
<% if user_signed_in? %>
<h1>Patients</h1>

<br><hr>
<%= form_tag patients_path, :method => 'get' do %>
<%= text_field_tag :searchFirst, params[:searchFirst], placeholder: 'First Name' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :searchSur, params[:searchSur], placeholder: 'Surname' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :dob, params[:dob], placeholder: 'Date Of Brith' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :searchHos, params[:searchHos], placeholder: 'Hospital' %>&emsp;&emsp;&emsp;&emsp;
<%= text_field_tag :SearchOpDate, params[:SearchOpDate], placeholder: 'Date of Surgery' %>&emsp;&emsp;&emsp;&emsp;

<%= submit_tag "Search" %>
<% end %>

<hr>
<div class="table-responsive">
<table class="table sortable">
  <thead>
    <tr>
      <th role="button">First Name</th>
      <th role="button">Surname</th>
      <th role="button">Date of Birth</th>
      <th role="button">Hospital</th>
      <th role="button">Date</th>
      <th role="button">ASA</th>
      <th colspan="3" role="button"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.firstName %></td>
        <td><%= patient.surName %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.hospital %></td>
        <td><%= patient.opDate %></td>
        <td><%= patient.asa %></td>

        <td><%= link_to 'Details', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Patient', new_patient_path %>



<style type="text/css">
    .bgimg {
      background-image: url('http://www.binayakhealthworld.com/wp-content/uploads/2016/09/NB-Background2.jpg');
      background-size:     cover;                     
      background-repeat:   no-repeat;
    }
  </style>

<% else %>
  <style type="text/css">
    .bgimg {
      background-image: url('http://www.binayakhealthworld.com/wp-content/uploads/2016/09/NB-Background2.jpg');
      background-size:     cover;                     
      background-repeat:   no-repeat;
      background-position: center center; 
    }
  </style>

  <div class="jumbotron">
    <h2>Patient Assessment</h2>
    <p>APAT, or Anaesthetic Preoperative Assessment is a quick and easy online assessment tool that allows us to get to know a little bit about our patients before they come in for surgery in Irish hospitals.
    If you have been asked to complete an assessment by a surgeon, simply click the button below and answer our questions.</p>
    <p>
      <%= button_to "Start Your Assessment »", new_patient_path, class: "btn btn-primary btn-lg", method: :get %>
    </p>
  </div>

  <div class="jumbotron">
    <h2>Doctors</h2>
    <p>Anaesthetists and Surgeons who have registered to use APAT can sign in to view assessments.</p>
     <%= button_to "Doctors Sign In »", new_user_session_path, class: "btn btn-info btn-lg", method: :get %>
    </p>
  </div>
<%end%>
