<% if user_signed_in? %>
<div id="page-wrapper">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Patient: <%= @patient.firstName %> <%= @patient.surName %></h2>
      </div>
      <div class="panel-body">
        <div class="col-lg-6">

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstName %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surName %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @patient.hospital %>
</p>

<p>
  <strong>Opperation Date:</strong>
  <%= @patient.opDate %>
</p>

<p>
  <strong>How would you rate your overall health:</strong>
  <%= @patient.q1 %>
</p>

<p>
  <strong>How is your physical condition in general?:</strong>
  <%= @patient.q2 %>
</p>

<p>
  <strong>Do you have a heart condition that impedes your physical efforts (as a result of tiredness, pain or shortness of breath)?:</strong>
  <%= @patient.q3 %>
</p>

<p>
  <strong>Have you ever experienced any feeling of pain or tightness in the chest?:</strong>
  <%= @patient.q4 %>
</p>

<p>
  <strong>Have you ever had a heart attack?:</strong>
  <%= @patient.q5 %>
</p>

<p>
  <strong>Have you ever had a cardiac arrest?:</strong>
  <%= @patient.q6 %>
</p>

<p>
  <strong>Have you ever undergone any cardiac surgery or heart catheterization?:</strong>
  <%= @patient.q7 %>
</p>

<p>
  <strong>Do you ever get palpitations?:</strong>
  <%= @patient.q8 %>
</p>

<p>
  <strong>Have you been told you have a heart murmur?:</strong>
  <%= @patient.q9 %>
</p>

<p>
  <strong>Do you have high blood pressure?:</strong>
  <%= @patient.q10 %>
</p>

<p>
  <strong>Do you have high cholesterol?:</strong>
  <%= @patient.q11 %>
</p>

<p>
  <strong>Do you receive treatment for diabetes (high blood sugar level)?:</strong>
  <%= @patient.q12 %>
</p>

<p>
  <strong>Have you ever had a stroke?:</strong>
  <%= @patient.q13 %>
</p>

<p>
  <strong>Do you receive treatment for asthma?:</strong>
  <%= @patient.q14 %>
</p>

<p>
  <strong>Do you receive treatment for pulmonary emphysema, chronic obstructive pulmonary disease (COPD) or chronic bronchitis?:</strong>
  <%= @patient.q15 %>
</p>

<p>
  <strong>Do you have Sleep Apnoea?:</strong>
  <%= @patient.q16 %>
</p>

<p>
  <strong>Do you have any renal problems or kidney impairment?:</strong>
  <%= @patient.q17 %>
</p>

<p>
  <strong>Have you ever had jaundice or any liver problems?:</strong>
  <%= @patient.q18 %>
</p>

<p>
  <strong>Have you ever unintentionally lost more than 10 kg in a short period of time?:</strong>
  <%= @patient.q19 %>
</p>

<p>
  <strong>Do you smoke?:</strong>
  <%= @patient.q20 %>
</p>

<p>
  <strong>Do you consume alcohol?:</strong>
  <%= @patient.q21 %>
</p>

<p>
  <strong>Do you ever take illicit drugs (Cocaine, Heroin, Ecstasy)?:</strong>
  <%= @patient.q22 %>
</p>
</div>
<div class="col-lg-3">
<div class="panel panel-default">
      <div class="panel-heading">
        <h3>
        <strong>ASA Grade:</strong>
        <%= @patient.asa %>
        </h3>
      </div>
      <div class="panel-heading">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Edit', edit_patient_path(@patient), class: "btn  btn-primary " %> &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Back', patients_path, class: "btn  btn-primary" %>
      </div>



</div>

<% else %>
<br><br><br>
<div class="well">
  <h2>Thank you for completing your assessment! </h2>
  <br><br>
  <p>The results will be made availble for you anaesthesist and surgeon to view prior to your opperation.</p>
  <br><br>
<div>
<% end %>
