<!DOCTYPE html>
<html>
  <head>
    <title>APAT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://ginokenny.files.wordpress.com/2017/05/hse.jpeg" />

  </head>

  <body class = bgimg>
    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-inner">
        <div id="logo" class="navbar-brand"><%= link_to "Anaesthesia Pre-Operative Assessment", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Manage Account', edit_user_registration_path%></li>
              <li>&nbsp;</li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
             <!-- <li><%= link_to 'Create Account', new_user_registration_path %></li> -->
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
          <% end %>
        </nav>
        </div>
      </div>
    </header>



    <div id="main" class="container">
    	<% flash.each do |name,msg| %>
    		<%= content_tag(:div, msg, class: "alert") %>
    	<% end %>

        <%= yield %>
    </div>

    <style type="text/css">
    .bgimg {
      background-image: url('http://www.binayakhealthworld.com/wp-content/uploads/2016/09/NB-Background2.jpg');
      background-size:     cover;                     
      background-repeat:   no-repeat;
    }
  </style>
  
  </body>
</html>
